<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <config>
    <!--<add key="globalPackagesFolder" value="artifacts/pkg" />-->
  </config>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="asmresolver-nightly" value="https://nuget.washi.dev/v3/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="asmresolver-nightly">
      <package pattern="AsmResolver*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
